<h1>Add Product</h1>
    <form action="/api/v1/products/updateProduct" method="post" enctype="multipart/form-data">
        <div>
            <label for="name">Product Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="desc">Description:</label>
            <textarea id="desc" name="desc" required></textarea>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" value="99">
        </div>
        <div>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" required>
        </div>
        <div>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" required>
        </div>
        <div>
            <label for="sizes">Sizes:</label>
            <select id="sizes" name="sizes" multiple>
                <option value="M">M</option>
                <option value="XL">XL</option>
                <option value="S">S</option>
            </select>
        </div>
        <div>
            <button type="submit">update Product</button>
        </div>
    </form>